@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu+Mono');

h1, h2, h3, h4, h5{
  color: #081642;
}

body{
  font-family: 'Raleway', sans-serif;
}

code{
  font-family: 'Ubuntu Mono', monospace;
}

p>a {
  color: #F72C5B;
}

li>a {
  color: #F72C5B;
}

.sourceCode>a{
  color: #081642;
}

.st{
  color: #F72C5B;
}

.op{
  color: #666666;
}

.dv, .dt{
  color: #191919;
}

.btn-copy-ex:hover{
  background-color: #F72C5B;
  border-color: #081642;
}

.btn-copy-ex{
  background-color: #081642;
  border-color: #F72C5B;
}

pre {
  box-shadow:
    rgba(0, 0, 0, 0.1) 0 2px 3px 1px,
    rgba(0, 0, 0, 0.1) 0 1px 3px 1px,
    rgba(0, 0, 0, 0.2) 0 1px 1px -1px;
}

.navbar-default{
  color: #081642;
  border-color: #F72C5B;
  background-color: #FFF;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #081642;
  background-color: #F72C5B;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #081642;
}

 .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
  border-color: #F72C5B;
  background-color: #FFF;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  color: #081642;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  color: #F72C5B;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:hover,
.navbar-default .navbar-nav>.open>a:focus{
  color: #081642;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover,
.navbar-default .navbar-nav .open .dropdown-menu{
  color: #081642;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus {
  color: #FFF;
  background-color: #F72C5B;
}

#navbar > ul:nth-child(1) > li.dropdown.active.open > ul > li.active > a{
  color: #FFF;
  background-color: #F72C5B;
}

a:hover, a:focus {
  color: #F72C5B;
}

.version{
  font-size: 9px;
}

.navbar-default{
  font-size: 13px;
}

/* carbon ads */
#carbonads {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu,
  Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#carbonads {
  display: flex;
  max-width: 330px;
  background-color: hsl(0, 0%, 98%);
  box-shadow: 0 1px 4px 1px hsla(0, 0%, 0%, .1);
}

#carbonads a {
  color: inherit;
  text-decoration: none;
}

#carbonads a:hover {
  color: inherit;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

#carbonads .carbon-wrap {
  display: flex;
}

.carbon-img {
  display: block;
  margin: 0;
  line-height: 1;
}

.carbon-img img {
  display: block;
}

.carbon-text {
  font-size: 13px;
  padding: 10px;
  line-height: 1.5;
  text-align: left;
}

.carbon-poweredby {
  display: block;
  padding: 8px 10px;
  background: repeating-linear-gradient(-45deg, transparent, transparent 5px, hsla(0, 0%, 0%, .025) 5px, hsla(0, 0%, 0%, .025) 10px) hsla(203, 11%, 95%, .4);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: .5px;
  font-weight: 600;
  font-size: 9px;
  line-height: 1;
}