@import url('https://fonts.googleapis.com/css?family=Raleway|Ubuntu+Mono');

body{
  font-family: 'Raleway', sans-serif;
}

code{
  font-family: 'Ubuntu Mono', monospace;
}

p>a {
  color: #B03A5B;
}

li>a {
  color: #B03A5B;
}

.navbar-default{
  border-color: #B03A5B;
  background-color: #293c55;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #f3f3f3;
    background-color: #B03A5B;
}

.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #d8d8d8;
}

 .navbar-default .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
  border-color: #B03A5B;
  background-color: #293c55;
}

.navbar-default .navbar-nav > .dropdown > a .caret {
  color: #999999;
}
.navbar-default .navbar-nav > .dropdown > a:hover .caret,
.navbar-default .navbar-nav > .dropdown > a:focus .caret {
  color: #B03A5B;
}

.navbar-default .navbar-nav>.open>a, 
.navbar-default .navbar-nav>.open>a:hover, 
.navbar-default .navbar-nav>.open>a:focus{
  color: #d8d8d8;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu{
  color: #d8d8d8;
}

