<div class="row">
  <div class="contents col-md-9">
{{{index}}}
  </div>

  <div class="col-md-3 hidden-xs hidden-sm" id="sidebar">

    <script async type="text/javascript" src="https:://cdn.carbonads.com/carbon.js?serve=CE7I52Q7&placement=echarts4rjohn-coenecom" id="_carbonads_js"></script>

    {{#sidebar}}
    {{{.}}}
    {{/sidebar}}

    <h2>Support</h2>
    <p>Sponsor the project</p>
    <a class="github-button" href="https://github.com/sponsors/JohnCoene" data-icon="octicon-heart" aria-label="Sponsor @JohnCoene on GitHub">Sponsor</a>
    <br/><br/>
  </div>
</div>