<div class="row">
  <main id="main" class="col-md-9">
{{{index}}}
  </main>

  <aside class="col-md-3">
    <script async type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CE7I52Q7&placement=echarts4rjohn-coenecom" id="_carbonads_js"></script>

    {{#sidebar}}
    {{{.}}}
    {{/sidebar}}

    <h2>Support</h2>
    <p>Sponsor the project</p>
    <a class="github-button" href="https://github.com/sponsors/JohnCoene" data-icon="octicon-heart" aria-label="Sponsor @JohnCoene on GitHub">Sponsor</a>
  </aside>
</div>